<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Raleway:400,600,700', 'Merriweather:300,300i,700,700i', 'Ubuntu+Mono:400,700']
    }
  });
</script>

{{ if .Site.Params.highlightjs }}
  <script src="{{ .Site.BaseURL }}js/highlight.min.js" defer></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/{{.}}.min.js" defer></script>
  {{ end }}
{{ end }}

{{ if .Site.Params.progressively }}
  <script src="{{ .Site.BaseURL }}js/progressively.min.js" defer></script>
{{ end }}


{{ if .Site.Params.issoHost }}
<script
  data-isso="{{ .Site.Params.issoHost }}/"
  data-isso-css="true"
  data-isso-lang="{{ .Site.LanguageCode }}"
  src="{{ .Site.Params.issoHost }}/js/embed.min.js"
></script>
{{ end }}

{{ if .Site.Params.share }}
  <script src="{{ .Site.BaseURL }}js/social-share-kit.min.js" defer></script>
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<script>
  window.onload = function() {
    {{ if .Site.Params.highlightjs }}
      hljs.initHighlighting();
    {{ end }}
    {{ if .Site.Params.progressively }}
      progressively.init({delay: 30, throttle: 50});
    {{ end }}
    {{ if .Site.Params.share }}
      SocialShareKit.init({
        twitter: {
            text: '',
            {{ if .Site.Params.twitter }}via: '{{ .Site.Params.twitter }}'{{ end }}
        }
      });
    {{ end }}
  };
</script>